<mat-card>
  <mat-card-title>Edit item!</mat-card-title>
  <form novalidate *ngIf="item" [formGroup]="updateItemForm"
    (submit)="onSubmit(updateItemForm)">

    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="name" placeholder="Name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="description" placeholder="Description" required>
      <mat-error *ngIf="description.invalid">{{getErrorMessage(description)}}</mat-error>
    </mat-form-field>

    <button mat-button color="primary" type="submit">Save</button>

    <button mat-button class="deleteItem" type="button" (click)="deleteItem()">Delete Item</button>
  </form>
</mat-card>
