<h2>Items:</h2>
<input type="text" placeholder="Search..." [(ngModel)]="search">
<mat-card *ngFor="let item of items | itemsFilter: search">
  <div *ngIf="item === -1">No items found</div>
  <p>{{item.name}}</p>
  <p>{{item.description}}</p>
  <button mat-button class="editItem" type="button" (click)="selectItem(item.id)" *ngIf="currentUser && currentUser.id == item.creatorId">Edit</button>
  <button mat-button class="deleteItem" type="button" (click)="deleteItem(item.id)" *ngIf="currentUser && currentUser.id == item.creatorId">Delete</button>
</mat-card>